
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p>
        Ingrese el documento del Aprendiz a buscar:
        @Html.TextBox("documento")
    </p>
    <p>
        <input type="submit" value="Buscar" />
    </p>

}
